<form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2 homeBtn" type="button">
        Home
    </button>
    <button class="btn btn-outline-success me-2 dashboardBtn" type="button">
        Dashboard
    </button>
    <button class="btn btn-outline-success me-2 logoutBtn" type="button">
        Logout
    </button>
</form>
