<nav class="navbar brown">
  {{> navbar-details}}
</nav>
<div class="p-4 text-success brown">
  <h1 class="mb-3">
    Dashboard
  </h1>
</div>

<script src="/js/homepage.js"></script>
<script src="/js/logout.js"></script>