<nav class="navbar brown">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2 homeBtn" type="button">
      Home
    </button>
    <button class="btn btn-outline-success me-2 dashboardBtn" type="button">
      Dashboard
    </button>
  </form>
</nav>
<div class="p-4 text-success brown">
  <h1 class="mb-3">
    The People's Tech Blog
  </h1>
</div>
<div class="loginBox m-5">
  <header>
    <div class="container justify-content-center">
      <h1 class="text-center">
        Login
      </h1>
    </div>
  </header>
  <div class="d-flex justify-content-center">
    <div class="container m-4">
      <form class="loginForm">
        <div class="mb-3">
          <label for="userNameLogin" class="form-label">
            Username
          </label>
          <input type="username" class="form-control" id="usernameLogin" />
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label">
            Password
          </label>
          <input type="password" class="form-control" id="passwordLogin" />
        </div>
        <button type="submit" id="loginBtn" class="btn btn-success">
          Login
        </button>
        <button type="submit" id="registerBtn" class="btn btn-success">
          Sign-Up
        </button>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>